table
{
  border: 1px solid black;
}
.wall-north
{
  border-top: 1px solid black;
}
.wall-east
{
  border-right: 1px solid black;
}
.wall-south
{
  border-bottom: 1px solid black;
}
.wall-west
{
  border-left: 1px solid black;
}
.streets
{
   background-color: lightgrey;
}
.void
{
  opacity: 0.125;
}
.spells-0
{
  background-color: white;
}
.spells-1
{
  background-color: #ffccd4;
}
.spells-2
{
  background-color: #ff99a9;
}
.spells-3
{
  background-color: #ff667e;
}
.spells-4
{
  background-color: #ff3353;
}
.spells-5
{
  background-color: #ff0028;
}
.spells-6
{
  background-color: #cc0020;
}
.spells-7
{
  background-color: #990018;
}
.spells-8
{
  background-color: #660010;
}
.spells-9
{
  background-color: #330008;
}

.room:hover
{
  background-color: lightblue;
}
.selected
{
  background-color: #90ee90;
}
.mapline
{
  text-align:center;
}

.spell-regional
{
  background-color: lightgrey;
}
.spell-locational
{

}
#spellpanel
{
  height: 320px;
  overflow: scroll;
}
.disabled-area
{
  opacity: .5;
  -webkit-filter: grayscale(100%) sepia(100%);
}
