blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    quotes: "\201C" "\201D";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.5em;
}

blockquote p {
    display: inline;
}

html {
    position: relative;
    min-height: 100%;
}

.debuginfo {
    color: gray;
    font-size: smaller;
    position: absolute;
    left: 0;
    bottom: 0
}

.debuginfo > abbr[title] {
    text-decoration: none !important;
    border-bottom: none !important;
    cursor: inherit !important;
}

.indent {
    text-indent: 50px;
}

.pix {
    cursor: pointer;
}

.hide {
    display: none;
}

.ui-autocomplete {
    max-height: 100px !important;
    overflow-y: scroll;
}

.no-overflow {
    word-wrap: break-word;
}

/* search stuff */

dd {
    text-indent: 50px;
}

.f {
    font-size: 85%;
}

.result {
    border: solid 1px black;
    border-radius: 10px;
}

.badge-purple {
    background-color: #a549ba;
    color: #fff;
}

.badge-blue {
    background-color: #337ab7;
    color: #fff;
}

.hidden-list-item {
    display: none;
}

.hidden-spoiler {
    /* prevent user from accidentally selecting the text and revealing it */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* actually blur out the text */
    color: transparent;
    text-shadow: rgba(0, 0, 0, 5) 0 0 12px;
    cursor: pointer;
}

.spoiler {
    cursor: pointer;
}

.footer-small {
    font-size: 10pt;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}