.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hoverbox:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.panel-clickable {
    background-color: #337;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:visited {
    text-decoration: none;
}

.panel-grey {
    color: #000;
}

.disclaimer {
    font-size: 75%;
}

.button-sexy {
    background-color: #337;
}

.icon {
    font-family: Batch;
    line-height: 1;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

.debuginfo {
    text-align: right;
    padding: 5px;
    color: gray;
    font-size: smaller;
    clear: both;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #333;
    color: #fff;

    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.nd {
    text-decoration: none;
}

#dbc {
    display: none;
}

#dbt:hover #dbc {
    display: block;
}

.f {
    font-size: 85%;
}
